.detalimg{
	width: 100%;height: 4.22rem;
}
.detalimg img{
	width: 100%;height: 100%;
}
.filmimg{
	font-size: 18px;margin: 0.2rem 0 0.2rem 0.3rem;
}
.filmdirector{
	margin-left: 0.3rem;margin-bottom: 0.2rem;
}
.filmTostar{
	margin-left: 0.3rem;margin-bottom: 0.2rem;
	
}
.filmlanguage{
	margin-left: 0.3rem;margin-bottom: 0.2rem;
}
.filmstyle{
	margin-left: 0.3rem;margin-bottom: 0.2rem;
	
}
.filmimg1{
	margin-left: 0.3rem;margin-bottom: 0.2rem;
	
}
.filmimg2{
	padding-left: 0.3rem;padding-right: 0.3rem;margin-bottom: 1.5rem;
}
.filmimg4{
	text-align: center;line-height: 0.72rem;position: fixed;left: 1.8rem;bottom: 0.2rem;
}
.bbtn{
	width: 100%;height: 100%;background: #fe8233;border-radius:0.4rem ;color: #ffffff;margin: 0 auto;width: 3.12rem;height: 0.72rem;
	outline: none;border: none;
}
